.container-fluid{

  height: 100%;
}
.input-wrapper {
    font-style: normal;
}

.example-full-width {
    width: 100%;
}

.headers {

    font-family: 'Roboto';

}

.btn-lg{
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: -webkit-x-large;

}
.me{
  width: 70%
}


